.DS_Store
log/*
tmp/*
TAGS
*~
.#*
schema/schema.rb
schema/*_structure.sql
schema/*.sqlite3
schema/*.sqlite
schema/*.db
*.sqlite
*.sqlite3
*.db
src/*
.hgignore
.hg/*
.svn/*
gems/specifications/*
gems/gems/*
!gems/gems/thor*/
!gems/specifications/thor*
merb_profile_results
webrat*
