!!! 
%html
  %head
    %title Visage
    %link{:rel => 'stylesheet', :href => '/stylesheets/screen.css', :type => 'text/css'}
    %script{:type => "text/javascript", :src => "/javascripts/raphael-min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/g.raphael.js"}
    %script{:type => "text/javascript", :src => "/javascripts/g.line.js"}
    %script{:type => "text/javascript", :src => "/javascripts/mootools-1.2.3-core.js"}
    %script{:type => "text/javascript", :src => "/javascripts/graph.js"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}

  %body
    %div#wrapper
      %div#header
        %h1.project
          %span.project-name Visage
      %div#content
        = yield

