/* resets */
body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

a { 
  text-decoration: none;
}

/* styles */

a               { color: #3465a4; padding: 2px 0px; }
a:hover         { color: white; background-color: #3465a4; }
a:visited       { color: #75507b; }
a:hover:visited { color: white; background-color: #75507b; }
a:active        { color: white; background-color: #cc0000; }

p {
  margin: 0 0 1em;
}

li {
  margin: 0.55em 0 0.55em 1em; 
  list-style-type: none;
}

body {
  font-family: Bitstream Vera Serif, Baskerville, Garamond, serif;
  font-size: 1.2em;
}

div#header {
  float: left;
  width: 20em;
}

div.nav {
  float: left;
  margin: 1em;
  margin-right: 2em;
}

div.nav li {
  margin-left: 2px;
}

div#header {
  margin: 1em 0.5em;
}

div#graphs {
  clear: both;
  padding: 0 2em;
  border-top: 1px dashed #babdb6;
  margin-top: 2em;
}

div.graph {
  margin: 0.5em 0;
  clear: both;
}

h1, h2, h3, h4, h5 {
  font-family: Bitstream Vera Sans, Helvetica Neue, sans-serif;
}

h2, h3, h4, h5 {
  /*text-transform: uppercase;*/
}

h1 {
  font-size: 4em;
}

h1 span.project-name {
  padding: 0 0.1em 0.1em;
  background-color: #3465a4;
  color: white;
}

div#footer {
  font-size: 0.6em;
  color: gray;
  text-align: center;
  margin-bottom: 2em;
}

div#nothing {
  margin-top: 1em;
}

