/* resets */

body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

/* stylesheet */

body {
  font-size: 1.2em;
  font-family: Baskerville,Garamond,Times,serif;
}

h1, h2, h3, h4 {
  font-family: Helvetica Neue,Helvetica,sans-serif;
  font-weight: bold;
}

li {
  list-style-type: square;
  margin: 0.5em 1em;
}

a {
  text-decoration: none;
}

div#content {
  margin: auto;
  padding: 1em;
}


div#header {
  width: 400px;
  float: left;
  margin-right: 1em;
}

div#nav {
  border-left: 1px dashed #ccc;
  float: left; 
  padding-left: 1em;
}


div#holder {
  width: 640px;
  height: 220px;
}

div#hosts, div#stats {
  float: left;
  padding: 0.3em 1em;
}

div#labels {
  clear: both;
}

div.label.plugin {
  padding: 0.5em;
  float: left;
}

span.label.plugin.box {
  width: 50px;
  display: block;
  float: left;
  margin-right: 0.5em;
}
