/* resets */

body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

/* stylesheet */

body {
  font-size: 1.2em;
  font-family: Baskerville,Garamond,Times,serif;
}

h1, h2, h3, h4 {
  font-family: Helvetica Neue,Helvetica,sans-serif;
  font-weight: bold;
}

div#content {
  margin: auto;
  padding: 1em;
}


div#hosts li {
  font-family: monospace;
}

li {
  list-style-type: square;
  margin: 0.5em 1em;
}

div#holder {
  background-color: black;
  height: 480px;
  left: 50%;
  margin: -220px 0 0 -320px;
  position: absolute;
  top: 50%;
  width: 640px;
}

