%div#chart-builder
  %div#hosts.builder.left
    %h2 Hosts
    %img{:src => link_to("/images/hosts.png"), :class => "icon hosts"}
    %div.search

  %div#metrics.builder.right
    %h2 Metrics
    %img{:src => link_to("/images/metrics.png"), :class => "icon metrics"}
    %div.search

  %div#profile-options.builder.full
    %h2 Profile Options

  %input#show{:value => "Show graphs", :type => "button", :class => "button"}

  %div#graph

