- page_title "Profile builder"
- require_js "builder-autocomplete"

%div#chart-builder
  %form{:action => "/builder", :method => :get}

    - if @profile.selected_hosts.size > 0 && @profile.selected_metrics.size > 0
      %div#profile-preview
      %div#profile-meta
        %h2 Profile name
        %p
          %input{:name => "profile_name", :value => params[:profile_name], :type => "text", :class => "text"}
        %p.error
          = @profile.errors[:profile_name]
        %p
          %input{:type => "submit", :value => "create", :class => "create", :name => "submit"}

    %div#hosts.builder
      %h2 Hosts
      %input{:id => "host-search", :name => "hosts", :type => "text", :class => "text", :value => params[:hosts], :autocomplete => "off"}
      %img{:src => link_to("/images/hosts.png"), :class => "icon hosts"}
      %span{:class => "glob example"} e.g. &ldquo;charlie&rdquo;, &ldquo;*.bravo*&rdquo;, &ldquo;echo, foxtrot*&rdquo;

      %ul.selected

    %div#metrics.builder
      %h2 Metrics
      %input{:id => "metric-search", :name => "metric-search", :type => "text", :class => "text", :value => params[:metrics], :autocomplete => "off"}
      %img{:src => link_to("/images/metrics.png"), :class => "icon metrics"}
      %span{:class => "glob example"} e.g. &ldquo;cpu*/*&rdquo;, &ldquo;disk*/*ops, disk*/*time&rdquo;

      %ul.selected


