%div#chart-builder
  %div#hosts.builder
    %h2 Hosts
    %img{:src => link_to("/images/hosts.png"), :class => "icon hosts"}
    %div.search

  %div#metrics.builder
    %h2 Metrics
    %img{:src => link_to("/images/metrics.png"), :class => "icon metrics"}
    %div.search

  %div#profile-options.builder
    %h2 Profile Options
    %div.percentiles
      95th Percentile:

  %input#show{:value => "Show graphs", :type => "button", :class => "button"}

  %div#graph

