!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    %title= include_page_title
    %link{:rel => "icon", :type => "image/gif", :href => "/favicon.gif"}
    %link{:rel => 'stylesheet', :href => '/stylesheets/bootstrap.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/bootstrap-responsive.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/screen.css', :type => 'text/css'}
    = include_required_css
    %script{:type => "text/javascript", :src => link_to("/javascripts/mootools-core-1.4.5.js")}
    %script{:type => "text/javascript", :src => link_to("/javascripts/MooToolsAdapter.js")}
    %script{:type => "text/javascript", :src => link_to("/javascripts/underscore-1.3.1.js")}
    %script{:type => "text/javascript", :src => link_to("/javascripts/backbone.js")}
    %script{:type => "text/javascript", :src => link_to("/javascripts/handlebars.js")}
    %script{:type => "text/javascript", :src => link_to("/javascripts/backbone.handlebars.js")}
    %script{:type => "text/javascript", :src => link_to("/javascripts/delorean.js")}
    = include_required_js

  %body
    %nav.navbar.navbar-default.header{:role => 'navigation'}
      %div.row
        %div.span3.offset10#nav-buttons
          %div.btn-group#toggler-group
            %a#share-toggler.toggler.btn.btn-success.dropdown-toggle{'data-toggle' => 'dropdown'}
              %i.icon-share.icon-white
              %span#share-label Share

            %a#timeframe-toggler.toggler.btn.btn-inverse.dropdown-toggle{'data-toggle' => 'dropdown'}
              %i.icon-time.icon-white
              %span#timeframe-label Timeframe
              %span{:class => 'caret'}

    %div#content.container
      = yield

    %footer.footer
      %a{:href => link_to('http://visage.io/')} Visage
      |
      %a{:href => link_to("/profiles/new")} Explore
      |
      %a{:href => link_to("/profiles")} Profiles


