!!!
%html
  %head
    %title= include_page_title
    %link{:rel => "icon", :type => "image/gif", :href => "/favicon.gif"}
    %link{:rel => 'stylesheet', :href => '/stylesheets/screen.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/message.css', :type => 'text/css'}
    %script{:type => "text/javascript", :src => link_to("/javascripts/mootools-core-1.4.0-full-compat.js")}
    %script{:type => "text/javascript", :src => link_to("/javascripts/mootools-more-1.4.0.1.js")}
    %script{:type => "text/javascript", :src => link_to("/javascripts/highcharts.js")}
    %script{:type => "text/javascript", :src => link_to("/javascripts/graph.js")}
    %script{:type => "text/javascript", :src => link_to("/javascripts/keyboard.js")}
    %script{:type => "text/javascript", :src => link_to("/javascripts/message.js")}
    = include_required_js

  %body
    %div#wrapper
      %div#header
        %div#nav
          %ul
            %li
              %a{:href => link_to("/profiles")} profiles
            %li
              %a{:href => link_to("/builder")} builder

      %div#content
        = yield

      %div#footer
        Visage
        |
        %a{:href => link_to("/profiles")} Profiles
        |
        %a{:href => link_to("/builder")} Builder


