- if @profile && !@profile.anonymous
  - page_title(@profile.name)
- else
  - page_title('Explore Metrics')

- require_js 'highcharts-mootools-adapter.src'
- require_js 'highcharts.src'
- require_js 'graph'
- require_js 'mootools-more-1.4.0.1'
- require_js 'raphael-min'
- require_js 'application'
- require_js 'LightFace'
- require_js 'LightFace.Request'
- require_css 'LightFace'

%div#graphs

%div#builder
  %div#hosts{:class => 'dimension'}
    %h2 1. Hosts
  %div#metrics{:class => 'dimension'}
    %h2 2. Metrics
  %div#display{:class => 'dimension'}
    %h2 3. Display

%div#bottom_nav
  %a{:href => link_to("/profiles")} &larr; Back to profiles
