- page_title 'Builder'

- require_js 'highcharts-mootools-adapter.src'
- require_js 'highcharts.src'
- require_js 'graph'
- require_js 'mootools-more-1.4.0.1'
- require_js 'raphael-min'
- require_js 'rebuilder'

%div#graphs

%div#builder
  %div#hosts{:class => 'dimension'}
    %h2 1. Hosts
  %div#metrics{:class => 'dimension'}
    %h2 2. Metrics
  %div#display{:class => 'dimension'}
    %h2 3. Display
