- page_title 'Backbone'
- require_js 'rebuilder'
%div#hosts{:class => 'dimension'}
  %h2 1. Hosts
%div#metrics{:class => 'dimension'}
  %h2 2. Metrics
%div#display{:class => 'dimension'}
  %h2 3. Display
%div#graphs

