- page_title 'Backbone'
- require_js 'rebuilder'
%div#hosts{:style => 'float: left; width: 300px'}
  %h2 Hosts
%div#metrics{:style => 'float: left; width: 300px'}
  %h2 Metrics
%div#display{:style => 'float: left; width: 300px'}
  %h2 Display
%div#graphs

