%form.share
  %div.row.permalink
    - url = request.base_url + "/profiles/#{@profile.url}"
    %a{:href => url, :target => "_profile_#{@profile.id}"}= url
  %div.row
    %label{:for  => 'profile_name'} Profile name
    %input{:name => 'profile[name]', :id => 'profile_name', :class => 'text', :type => 'text', :value => @profile.name}
  %div.row
    %label{:for  => 'profile_timeframe'} Use current timeframe
    %input{:name => 'profile[timeframe]', :id => 'profile_timeframe', :checked => @profile.timeframe, :class => 'checkbox', :type => 'checkbox'}
  %div.row
    %label{:for  => 'profile_tags'}
      Tags
      %span.tip (comma separated)
    %input{:name => 'profile[tags]', :id => 'profile_tags', :class => 'text', :type => 'text', :value => @profile.tags}
  %div.row
    %input{:name => 'profile[anonymous]', :id => 'profile_anonymous', :type => 'hidden', :value => false}
    %input{:name => 'delete', :id => 'delete', :value => 'Delete', :class => 'button', :type => 'button'}
    %input{:name => 'save',   :id => 'save',   :value => 'Save', :class => 'button', :type => 'button'}




