
/* resets */
body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* styles */
/*
a               { color: #3465a4; padding: 2px 0px; }
a:hover         { color: white; background-color: #3465a4; }
a:visited       { color: #75507b; }
a:hover:visited { color: white; background-color: #75507b; }
a:active        { color: white; background-color: #cc0000; }
*/
p {
  margin: 0 0 1em;
}

li {
  margin: 0.55em 0 0.55em 1em;
}

body {
  font-family: Bitstream Vera Serif, Baskerville, Garamond, serif;
  font-size: 1.2em;
  color: #333;
}

h1, h2, h3, h4, h4 {
  font-family: Bitstream Vera Sans, Helvetica Neue, sans-serif;
}

div#wrapper {
  width: 800px;
  margin: auto;
}

div#footer {
  text-align: center;
  font-size: 90%;
  color: gray;
}

div#header {
  text-align: center;
  margin-bottom: 32px;
}

div#header h1.project {
  font-size: 144px;
}

div#nav {
  font-family: Bitstream Vera Sans, Helvetica Neue, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
  background-color: #eee;
}

div#nav ul {
  padding: 16px 32px;
}

div#nav ul li {
  display: inline;
  padding: 16px;
}

div#nav ul li:hover {
  background-color: #fff;
}

div#nav ul li a {
  padding: 16px 32px;
}

div#content {
  margin: auto;
}

div.section {
  margin-bottom: 32px;
}

div.section h2 {
  margin-bottom: 16px;
}

div#install p {
  margin: 16px 0;
}

blockquote.code pre {
  padding: 16px;
  background-color: #eee;
  border: 1px solid #ddd;
}

div#install p.alternate {
  color: #666;
  font-size: 80%;
}
