<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Lindsay Holmwood" />

   <link href='/favicon.gif' rel='icon' type='image/gif' />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1 class="project"><span class="project-name">Visage</span></h1>
    </div>
    <div id="nav">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#install">Install</a></li>
        <li><a href="#support">Support</a></li>
      </ul>
    </div>
    <div id="content">
      {{ content }}
    </div>
  </div>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-388962-8");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>

</body>
</html>
